/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TOP HEADER 
.top-header {
  background: #f8f9fa;
}

.logo-box {
  background: #0d6efd;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

/* SEARCH 
.search-box {
  width: 50%;
}

.search-box input {
  border-radius: 5px 0 0 5px;
}

.search-box select {
  width: 150px;
}

.search-box button {
  border-radius: 0 5px 5px 0;
}

/* ICONS 
.icon-item {
  margin-left: 15px;
  font-size: 14px;
  cursor: pointer;
}

/* NAVBAR 
.main-nav {
  border-top: 1px solid #ddd;
  background: white;
}

.menu span {
  cursor: pointer;
  font-size: 14px;
}


/* ICONS FIX 
.icons {
  gap: 20px;
}

.icon-item {
  text-align: center;
  font-size: 13px;
}

.icon-item div {
  font-size: 18px;
}

/* SEARCH FIX 
.search-box {
  width: 45%;
  display: flex;
  align-items: center;
}

.search-box input {
  border-radius: 5px 0 0 5px;
}

.search-box select {
  border-radius: 0;
}

.search-box button {
  border-radius: 0 5px 5px 0;
}

/* HEADER SPACING 
.top-header .container {
  gap: 20px;
}

/* RESPONSIVE 
@media (max-width: 768px) {
  .search-box {
    display: none;
  }

  .menu {
    display: none;
  }

  .icons {
    margin-top: 10px;
  }
}*/
.deals-section{

    width: 1180px;
    height: 240px;

    margin: 20px auto;

    background: white;

    border: 1px solid #DEE2E7;

    border-radius: 6px;

    display: flex;

    overflow: hidden;
}
.deals-info{

    width: 280px;

    padding: 30px 20px;

    border-right: 1px solid #DEE2E7;
}
.deals-info h2{

    font-size: 24px;

    font-weight: 600;

    color: #1C1C1C;

    margin-bottom: 5px;
}

.deals-info p{

    color: #8B96A5;

    font-size: 16px;
}
.countdown{

    display: flex;

    gap: 7px;

    margin-top: 10px;
}
.time{

    width: 50px;
    height: 50px;

    background: #606060;

    border-radius: 5px;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.time span{

    color: white;

    font-size: 16px;

    font-weight: 700;
}
.time small{

    color: white;

    font-size: 12px;
}
.product-box{

    width: 180px;

    border-right: 1px solid #DEE2E7;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    transition: 0.3s;
}
.product-box:hover{

    background: #fafafa;
}
.product-box img{

    width: 120px;

    height: 120px;

    object-fit: contain;

    margin-bottom: 12px;
}
.product-box h4{

    font-size: 16px;

    font-weight: 400;

    color: #1C1C1C;

    margin-bottom: 10px;
}
.product-box button{

    border: none;

    background: #FFE3E3;

    color: #EB001B;

    padding: 6px 12px;

    border-radius: 29px;

    font-size: 14px;

    font-weight: 500;
}
